<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %}</title>
    <style>
        label{
            padding: 20px;
        }
        p{
            padding: 10px;
        }
    </style>
</head>
<body class="bg-cyan-600">
    <div class="bg-sky-200 p-4 ">
        <a class="px-6 text-gray-800 hover:text-red-600" href="{% url 'SnackListView' %}">Snacks List</a>
        <a class="px-6 text-gray-800 hover:text-red-600" href="{% url 'SnackCreateView' %}">Create a new snack</a>
    </div>
    <div class="divide-y">
        {% block content %}
        {% endblock content%}
    </div>

</body>
</html>